@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: sora;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  background-color: #fafaf9;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 164px;
  padding: 16px;

  background-color: white;
  border-radius: 11px;
  box-shadow: 10px 5px 20px rgba(17, 23, 41, 0.05);
}

img {
  width: 336px;
  height: 152px;

  object-fit: cover;
  border-radius: 11px;
}

.tag {
  width: fit-content;
  padding: 4px 16px;

  color: #883ae1;
  background-color: #e6d6fc;
  font-size: 10px;
  font-weight: 500;
  border-radius: 100vmax;
}

.title {
  margin-bottom: -10px;

  color: #20293a;
  font-size: 18px;
  font-weight: 500;
}

.body {
  margin-bottom: 4px;
  max-width: 32ch;

  color: #6c727f;
  font-size: 14px;
  font-weight: 200;
  line-height: 21px;
}

hr {
  position: absolute;
  bottom: 55px;
  inset-inline: 0;
  margin: auto;
  width: 100%;

  border: none;
  border-top: 1px solid #e5eaf0;
}

.author {
  margin-bottom: 3px;
  padding-top: 20px;

  color: #6c727f;
  font-size: 12px;
  font-weight: 200;
}
